
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<a href="/Customers/Create?currentUrl=/Payment/MakePayment&noPassword=true">Üye Olmadan Devam Et</a> <br/>
<a href="/Customers/LogIn?currentUrl=/Payment/MakePayment">Üye Girişi</a> <br/>
<a href="/Customers/Create?currentUrl=/Payment/MakePayment">Üye Ol</a> <br/>
